* {
    overflow-x: hidden !important;
    background: #d3cdb9;
    font-family: 'Poppins', sans-serif !important;
}

.drone-page {
    display: flex;
}

.landing-txt {
    margin: unset !important;
    font-size: 200px;
    font-weight: 800;
    background-image: url('../../public/assets/text-texture.jpg') !important;
    background-clip: text;
    color: transparent;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.sub-txt {
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(255, 136, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}